#page-title {
    text-align: center;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

#page-background {
    background-color:darkseagreen
}

.img {
    text-align: center;
    border-radius: 20px;
}